In [2]:
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

#Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
import seaborn as sns

In [9]:
#Read train and store csv, join them into single dataframe and print head
df_2015_1 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING.csv', low_memory=False)
df_2015_2 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 2.csv', low_memory=False)
df_2015_3 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 3.csv', low_memory=False)
df_2015_4 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 4.csv',  low_memory=False)
df_2015_5 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 5.csv',  low_memory=False)
df_2015_6 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 6.csv', low_memory=False)
df_2015_7 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 7.csv', low_memory=False)
df_2015_8 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 8.csv', low_memory=False)
df_2015_9 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 9.csv',  low_memory=False)
df_2015_10 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 10.csv', low_memory=False)
df_2015_11 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 11.csv',  low_memory=False)
df_2015_12 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 12.csv', low_memory=False)

In [14]:
result = pd.concat([df_2015_1,df_2015_2,df_2015_3,df_2015_4,df_2015_5,df_2015_6,df_2015_7,df_2015_8,df_2015_9,df_2015_10,df_2015_11,df_2015_12])

In [16]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5788748 entries, 0 to 504311
Data columns (total 47 columns):
 #   Column                 Dtype
---  ------                 -----
 0   YEAR                   int64
 1   QUARTER                int64
 2   MONTH                  int64
 3   DAY_OF_MONTH           int64
 4   DAY_OF_WEEK            int64
 5   FL_DATE                object
 6   OP_UNIQUE_CARRIER      object
 7   OP_CARRIER_AIRLINE_ID  int64
 8   OP_CARRIER             object
 9   OP_CARRIER_FL_NUM      int64
 10  ORIGIN_AIRPORT_ID      int64
 11  ORIGIN_AIRPORT_SEQ_ID  int64
 12  ORIGIN_CITY_MARKET_ID  int64
 13  ORIGIN                 object
 14  ORIGIN_CITY_NAME       object
 15  ORIGIN_STATE_ABR       object
 16  ORIGIN_STATE_NM        object
 17  DEST_AIRPORT_ID        int64
 18  DEST_AIRPORT_SEQ_ID    int64
 19  DEST_CITY_MARKET_ID    int64
 20  DEST                   object
 21  DEST_CITY_NAME         object
 22  DEST_STATE_ABR         object
 23  DEST_STATE_NM          object
 24  CRS_DEP_TIME           int64
 25  DEP_TIME               float64
 26  DEP_DELAY              float64
 27  DEP_DELAY_NEW          float64
 28  DEP_DEL15              float64
 29  CRS_ARR_TIME           int64
 30  ARR_TIME               float64
 31  ARR_DELAY              float64
 32  ARR_DELAY_NEW          float64
 33  ARR_DEL15              float64
 34  CANCELLED              float64
 35  DIVERTED               float64
 36  CRS_ELAPSED_TIME       float64
 37  ACTUAL_ELAPSED_TIME    float64
 38  AIR_TIME               float64
 39  FLIGHTS                float64
 40  DISTANCE               float64
 41  CARRIER_DELAY          float64
 42  WEATHER_DELAY          float64
 43  NAS_DELAY              float64
 44  SECURITY_DELAY         float64
 45  LATE_AIRCRAFT_DELAY    float64
 46  Unnamed: 46            float64
dtypes: float64(21), int64(15), object(11)
memory usage: 2.1+ GB

In [23]:
result.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,OP_CARRIER_FL_NUM,...,ACTUAL_ELAPSED_TIME,AIR_TIME,FLIGHTS,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 46
0,2015,4,12,13,7,2015-12-13,AA,19805,AA,1513,...,106.0,84.0,1.0,592.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,4,12,14,1,2015-12-14,AA,19805,AA,1513,...,119.0,89.0,1.0,592.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,4,12,15,2,2015-12-15,AA,19805,AA,1513,...,106.0,88.0,1.0,592.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,4,12,16,3,2015-12-16,AA,19805,AA,1513,...,110.0,90.0,1.0,592.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,4,12,17,4,2015-12-17,AA,19805,AA,1513,...,118.0,99.0,1.0,592.0,0.0,0.0,5.0,0.0,15.0,NaN

In [ ]:
result.