In [613]:
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

#Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
import seaborn as sns
import datetime
from sklearn import linear_model, metrics, ensemble, model_selection,preprocessing

#Settings
pd.set_option("display.max_columns", None)

In [ ]:
airlines_names = pd.read_csv('Yearly_Data/airlines.csv')
abbr_companies = airlines_names.set_index('IATA_CODE')['AIRLINE'].to_dict()

In [517]:
abbr_companies

{'WN': 'Southwest Airlines Co.',
 'YV': 'Mesa Airlines',
 'YX': 'Republic Airlines',
 'EV': 'ExpressJet Airlines ',
 'AS': 'Alaska Airlines Inc.',
 'OH': 'PSA Airlines',
 'UA': 'United Air Lines Inc.',
 'MQ': 'American Eagle Airlines Inc.',
 'DL': 'Delta Air Lines Inc.',
 'AA': 'American Airlines Inc.',
 'OO': 'Skywest Airlines Inc.',
 '9E': 'Endeavor Air',
 'B6': 'JetBlue Airways',
 'F9': 'Frontier Airlines Inc.',
 'NK': 'Spirit Air Lines',
 'G4': 'Allegiant Air'}

In [ ]:
#Read train and store csv, join them into single dataframe and print head
df_2015_1 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING.csv', low_memory=False)
df_2015_2 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 2.csv', low_memory=False)
df_2015_3 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 3.csv', low_memory=False)
df_2015_4 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 4.csv',  low_memory=False)
df_2015_5 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 5.csv',  low_memory=False)
df_2015_6 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 6.csv', low_memory=False)
df_2015_7 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 7.csv', low_memory=False)
df_2015_8 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 8.csv', low_memory=False)
df_2015_9 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 9.csv',  low_memory=False)
df_2015_10 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 10.csv', low_memory=False)
df_2015_11 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 11.csv',  low_memory=False)
df_2015_12 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 12.csv', low_memory=False)
result_2015 = pd.concat([df_2015_1,df_2015_2,df_2015_3,df_2015_4,df_2015_5,df_2015_6,df_2015_7,df_2015_8,df_2015_9,df_2015_10,df_2015_11,df_2015_12])

In [ ]:
#Read train and store csv, join them into single dataframe and print head
df_2016_1 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING.csv', low_memory=False)
df_2016_2 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 2.csv', low_memory=False)
df_2016_3 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 3.csv', low_memory=False)
df_2016_4 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 4.csv',  low_memory=False)
df_2016_5 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 5.csv',  low_memory=False)
df_2016_6 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 6.csv', low_memory=False)
df_2016_7 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 7.csv', low_memory=False)
df_2016_8 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 8.csv', low_memory=False)
df_2016_9 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 9.csv',  low_memory=False)
df_2016_10 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 10.csv', low_memory=False)
df_2016_11 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 11.csv',  low_memory=False)
df_2016_12 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 12.csv', low_memory=False)
result_2016 = pd.concat([df_2016_1,df_2016_2,df_2016_3,df_2016_4,df_2016_5,df_2016_6,df_2016_7,df_2016_8,df_2016_9,df_2016_10,df_2016_11,df_2016_12])

In [ ]:
#Read train and store csv, join them into single dataframe and print head
df_2017_1 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING.csv', low_memory=False)
df_2017_2 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 2.csv', low_memory=False)
df_2017_3 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 3.csv', low_memory=False)
df_2017_4 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 4.csv',  low_memory=False)
df_2017_5 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 5.csv',  low_memory=False)
df_2017_6 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 6.csv', low_memory=False)
df_2017_7 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 7.csv', low_memory=False)
df_2017_8 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 8.csv', low_memory=False)
df_2017_9 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 9.csv',  low_memory=False)
df_2017_10 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 10.csv', low_memory=False)
df_2017_11 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 11.csv',  low_memory=False)
df_2017_12 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 12.csv', low_memory=False)
result_2017 = pd.concat([df_2017_1,df_2017_2,df_2017_3,df_2017_4,df_2017_5,df_2017_6,df_2017_7,df_2017_8,df_2017_9,df_2017_10,df_2017_11,df_2017_12])

In [ ]:
#Read train and store csv, join them into single dataframe and print head
df_2018_1 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING.csv', low_memory=False)
df_2018_2 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 2.csv', low_memory=False)
df_2018_3 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 3.csv', low_memory=False)
df_2018_4 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 4.csv',  low_memory=False)
df_2018_5 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 5.csv',  low_memory=False)
df_2018_6 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 6.csv', low_memory=False)
df_2018_7 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 7.csv', low_memory=False)
df_2018_8 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 8.csv', low_memory=False)
df_2018_9 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 9.csv',  low_memory=False)
df_2018_10 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 10.csv', low_memory=False)
df_2018_11 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 11.csv',  low_memory=False)
df_2018_12 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 12.csv', low_memory=False)
result_2018 = pd.concat([df_2018_1,df_2018_2,df_2018_3,df_2018_4,df_2018_5,df_2018_6,df_2018_7,df_2018_8,df_2018_9,df_2018_10,df_2018_11,df_2018_12])

In [ ]:
#Read train and store csv, join them into single dataframe and print head
df_2019_1 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING.csv', low_memory=False)
df_2019_2 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 2.csv', low_memory=False)
df_2019_3 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 3.csv', low_memory=False)
df_2019_4 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 4.csv',  low_memory=False)
df_2019_5 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 5.csv',  low_memory=False)
df_2019_6 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 6.csv', low_memory=False)
df_2019_7 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 7.csv', low_memory=False)
df_2019_8 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 8.csv', low_memory=False)
df_2019_9 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 9.csv',  low_memory=False)
df_2019_10 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 10.csv', low_memory=False)
df_2019_11 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 11.csv',  low_memory=False)
df_2019_12 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 12.csv', low_memory=False)
result_2019 = pd.concat([df_2019_1,df_2019_2,df_2019_3,df_2019_4,df_2019_5,df_2019_6,df_2019_7,df_2019_8,df_2019_9,df_2019_10,df_2019_11,df_2019_12])

In [ ]:
#Read train and store csv, join them into single dataframe and print head
df_2020_1 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING.csv', low_memory=False)
df_2020_2 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 2.csv', low_memory=False)
df_2020_3 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 3.csv', low_memory=False)
df_2020_4 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 4.csv',  low_memory=False)
df_2020_5 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 5.csv',  low_memory=False)
df_2020_6 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 6.csv', low_memory=False)
df_2020_7 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 7.csv', low_memory=False)
df_2020_8 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 8.csv', low_memory=False)
df_2020_9 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 9.csv',  low_memory=False)
df_2020_10 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 10.csv', low_memory=False)
df_2020_11 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 11.csv',  low_memory=False)
df_2020_12 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 12.csv', low_memory=False)
result_2020 = pd.concat([df_2020_1,df_2020_2,df_2020_3,df_2020_4,df_2020_5,df_2020_6,df_2020_7,df_2020_8,df_2020_9,df_2020_10,df_2020_11,df_2020_12])

In [ ]:
df = pd.concat([result_2019,result_2020])

In [ ]:
safe_copy = df.copy()

In [ ]:
#Top 20 businest airports
busiest_airports_iata = ["ATL", "DFW", "DEN", "ORD", "LAX", "CLT", "LAS", "PHX", "MCO", "SEA", "MIA", "IAH", "JFK", "FLL", "SFO", "EWR", "MSP", "DTW", "BOS", "PHL"]
df = df[df.DEST.isin(busiest_airports_iata) & (df.ORIGIN.isin(busiest_airports_iata))]

In [ ]:
#result_2015_to_2020 = pd.read_csv('result_2015_to_2020.csv', low_memory=False)

In [ ]:
df

Feature cleaning

In [ ]:
#Removing rows where arr delay is NAN
#result_2015_to_2020.dropna('ARR_DELAY')
df = df[df['ARR_DELAY'].notna()]
#We don't need cancelled flights in our dataset
df = df[df.CANCELLED !=1]
#to date time
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'])

In [ ]:
variables_to_remove = ['OP_UNIQUE_CARRIER','CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'Unnamed: 46','CANCELLED','DIVERTED','FLIGHTS']
df = df.drop(columns=variables_to_remove)

In [ ]:
def format_heure(chaine):
    if pd.isnull(chaine):
        return np.nan
    else:
        if chaine == 2400: chaine = 0
        chaine = "{0:04d}".format(int(chaine))
        heure = datetime.time(int(chaine[0:2]), int(chaine[2:4]))
        return heure
#_____________________________________________________________________
# Function that combines a date and time to produce a datetime.datetime
'''def combine_date_heure(x):
    if pd.isnull(x[0]) or pd.isnull(x[1]):
        return np.nan
    else:
        return datetime.datetime.combine(x[0],x[1])
#_______________________________________________________________________________
# Function that combine two columns of the dataframe to create a datetime format
def create_flight_time(df, col):    
    liste = []
    for index, cols in df[['DATE', col]].iterrows():    
        if pd.isnull(cols[1]):
            liste.append(np.nan)
        elif float(cols[1]) == 2400:
            cols[0] += datetime.timedelta(days=1)
            cols[1] = datetime.time(0,0)
            liste.append(combine_date_heure(cols))
        else:
            cols[1] = format_heure(cols[1])
            liste.append(combine_date_heure(cols))
    return pd.Series(liste)
'''

In [ ]:
#df['SCHEDULED_DEPARTURE'] = create_flight_time(result_2015_to_2020, 'SCHEDULED_DEPARTURE')
df['CRS_ARR_TIME'] = df['CRS_ARR_TIME'].apply(format_heure)
df['ARR_TIME'] = df['ARR_TIME'].apply(format_heure)
df['CRS_DEP_TIME'] = df['CRS_DEP_TIME'].apply(format_heure)
df['DEP_TIME'] = df['DEP_TIME'].apply(format_heure)

In [ ]:
tab_info=pd.DataFrame(df.dtypes).T.rename(index={0:'column type'})
tab_info=tab_info.append(pd.DataFrame(df.isnull().sum()).T.rename(index={0:'null values (nb)'}))
tab_info

In [ ]:
df['Total_Delay'] = df.DEP_DELAY_NEW+df.ARR_DELAY_NEW

In [ ]:
#_____________________________________________
# Function that define how delays are grouped
delay_type = lambda x:((0,1)[x > 5],2)[x > 45]
df['DELAY_LEVEL'] = df['Total_Delay'].apply(delay_type)
#____________________________________________________
fig = plt.figure(1, figsize=(10,7))
ax = sns.countplot(y="OP_CARRIER", hue='DELAY_LEVEL', data=df)
#____________________________________________________________________________________
# We replace the abbreviations by the full names of the companies and set the labels
labels = [abbr_companies[item.get_text()] for item in ax.get_yticklabels()]
ax.set_yticklabels(labels)
plt.setp(ax.get_xticklabels(), fontsize=12, weight = 'normal', rotation = 0);
plt.setp(ax.get_yticklabels(), fontsize=12, weight = 'bold', rotation = 0);
ax.yaxis.label.set_visible(False)
plt.xlabel('Flight count', fontsize=16, weight = 'bold', labelpad=10)
#________________
# Set the legend
L = plt.legend()
L.get_texts()[0].set_text('on time (t < 5 min)')
L.get_texts()[1].set_text('small delay (5 < t < 45 min)')
L.get_texts()[2].set_text('large delay (t > 45 min)')
plt.show()

In [ ]:
#_____________________________________________
# Function that define how delays are grouped
delay_type = lambda x:((0,1)[x > 5],2)[x > 45]
df['ARR_LEVEL'] = df['ARR_DELAY'].apply(delay_type)
#____________________________________________________
fig = plt.figure(1, figsize=(10,7))
ax = sns.countplot(y="OP_CARRIER", hue='ARR_LEVEL', data=df)
#____________________________________________________________________________________
# We replace the abbreviations by the full names of the companies and set the labels
labels = [abbr_companies[item.get_text()] for item in ax.get_yticklabels()]
ax.set_yticklabels(labels)
plt.setp(ax.get_xticklabels(), fontsize=12, weight = 'normal', rotation = 0);
plt.setp(ax.get_yticklabels(), fontsize=12, weight = 'bold', rotation = 0);
ax.yaxis.label.set_visible(False)
plt.xlabel('Flight count', fontsize=16, weight = 'bold', labelpad=10)
#________________
# Set the legend
L = plt.legend()
L.get_texts()[0].set_text('on time (t < 5 min)')
L.get_texts()[1].set_text('small delay (5 < t < 45 min)')
L.get_texts()[2].set_text('large delay (t > 45 min)')
plt.show()

In [ ]:
sns.set(rc={'figure.figsize':(13,9)})
sns.heatmap(df.corr(), vmin=-1, vmax=1, cmap='seismic');

In [ ]:
busiest_airports_iata = ["ATL", "DFW", "DEN", "ORD", "LAX", "CLT", "LAS", "PHX", "MCO", "SEA", "MIA", "IAH", "JFK", "FLL", "SFO", "EWR", "MSP", "DTW", "BOS", "PHL"]

In [ ]:
columns = ["key", "date", "class", "expire_time_gmt", "obs_id", "obs_name", "valid_time_gmt", "day_ind", "temp", "wx_icon", "icon_extd", "wx_phrase", "pressure_tend", "pressure_desc", "dewPt", "heat_index", "rh", "pressure", "vis", "wc", "wdir", "wdir_cardinal", "gust", "wspd", "max_temp", "min_temp", "precip_total", "precip_hrly", "snow_hrly", "uv_desc", "feels_like", "uv_index", "qualifier", "qualifier_svrty", "blunt_phrase", "terse_phrase", "clds", "water_temp", "primary_wave_period", "primary_wave_height", "primary_swell_period", "primary_swell_height", "primary_swell_direction", "secondary_swell_period", "secondary_swell_height", "secondary_swell_direction",]

In [ ]:
path = "Weather_Data/"  # use your path
lst = []
df_1 = pd.read_csv(path + "ATL.csv", low_memory=False)
df_2 = pd.read_csv(path + "DFW.csv", low_memory=False)
#main_list = pd.read_csv(path+"ATL.csv")

for airport in busiest_airports_iata:
    lst.append(pd.read_csv(path + airport + ".csv", low_memory=False,names = columns))
    #print(df[:, 0:2].head())
    #print('---------------------')
main_df = pd.concat(lst)

In [ ]:
main_df = main_df[main_df['key'] != 'key']
req_cols=['key','date','temp','pressure','wc','wspd', 'wx_phrase','dewPt','vis']
main_df = main_df[req_cols]
main_df = main_df.dropna()
main_df['key'] = main_df['key'].str.slice(start=1)
main_df.reset_index(inplace=True)
main_df=main_df.drop(columns=["index"])

In [555]:
main_df_preprocess = main_df.copy()

In [556]:
dic = {'ATL': 'America/New_York', 'DFW': 'America/Chicago', 'DEN': 'America/Denver', 'ORD': 'America/Chicago', 'LAX': 'America/Los_Angeles', 'CLT': 'America/New_York', 'LAS': 'America/Los_Angeles', 'PHX': 'America/Phoenix', 'MCO': 'America/New_York',
       'SEA': 'America/Los_Angeles', 'MIA' : 'America/New_York', 'IAH': 'America/Chicago', 'JFK': 'America/New_York', 'FLL': 'America/New_York', 'SFO': 'America/Los_Angeles', 'EWR': 'America/New_York', 'MSP': 'America/Chicago', 'DTW': 'America/Detroit',
       'BOS': 'America/New_York', 'PHL': 'America/New_York'}

In [557]:
main_df_preprocess.head()

   key                 date temp pressure  wc wspd   wx_phrase dewPt vis
0  ATL  2019-01-01 05:19:00   66    28.94  66    7  Light Rain    64   4
1  ATL  2019-01-01 05:36:00   66    28.94  66    9        Rain    63   2
2  ATL  2019-01-01 05:43:00   66    28.94  66    6  Light Rain    64   5
3  ATL  2019-01-01 05:52:00   66    28.94  66    5  Light Rain    64   5
4  ATL  2019-01-01 06:33:00   66    28.94  66    5      Cloudy    64   6

In [ ]:
# # now.strftime("%H:%M:%S")
# # .dt.strftime('%Y-%m-%d')
# print(type(df['FL_DATE']))
# print(type(df['CRS_DEP_TIME']))
# df['final_origin_date'] = pd.to_datetime(pd.to_datetime(df['FL_DATE']).dt.strftime('%Y-%m-%d') + ' ' + pd.to_datetime(df['CRS_DEP_TIME']).dt.strftime('%H:%M:%S'))
# df['final_origin_date']

In [559]:
import datetime
import pytz

main_df_preprocess['date'] =  pd.to_datetime(main_df_preprocess['date'])

In [560]:
main_df_preprocess['date'] = main_df_preprocess.apply(lambda x: pytz.timezone(dic[x['key']]).localize(x['date']).astimezone(dic[x['key']]),axis=1)

In [ ]:
# main_df_preprocess['date'][1] - '2019-01-01 05:36:00-05:00'

In [562]:
# print(main_df_preprocess['date'][1])
# print(main_df_preprocess['date'][360948])

2019-01-01 05:36:00-05:00
2019-01-01 08:53:00-08:00

In [563]:
df['ORIGIN_date'] = df.apply(lambda x: pd.Timestamp(x.FL_DATE).replace(hour=x['CRS_DEP_TIME'].hour, 
                                        minute=x['CRS_DEP_TIME'].minute, second=x['CRS_DEP_TIME'].second), axis=1)

In [ ]:
#df.drop('temp', inplace = True, axis = 1)

In [564]:
# print(df.columns)
# print(df['FL_DATE'])
df['DESTINATION_date'] = df.apply(lambda x: pd.Timestamp(x.FL_DATE).replace(hour=x['CRS_ARR_TIME'].hour, 
                                        minute=x['CRS_ARR_TIME'].minute, second=x['CRS_ARR_TIME'].second), axis=1)

In [572]:
df

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_CARRIER_AIRLINE_ID,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST_AIRPORT_SEQ_ID,DEST_CITY_MARKET_ID,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,Total_Delay,DELAY_LEVEL,ARR_LEVEL,ORIGIN_date,DESTINATION_date,Origin_date,Origin_airport,Dest_airport
0,2019,4,12,9,1,2019-12-09,19393,WN,335,10397,1039707,30397,ATL,"Atlanta, GA",GA,Georgia,11292,1129202,30325,DEN,"Denver, CO",CO,Colorado,21:20:00,21:24:00,4.0,4.0,0.0,22:45:00,22:46:00,1.0,1.0,0.0,205.0,202.0,181.0,1199.0,5.0,0,0,2019-12-09 21:20:00,2019-12-09 22:45:00,2019-12-09 21:20:00,ATL,DEN
1,2019,4,12,9,1,2019-12-09,19393,WN,1351,10397,1039707,30397,ATL,"Atlanta, GA",GA,Georgia,11292,1129202,30325,DEN,"Denver, CO",CO,Colorado,09:35:00,09:32:00,-3.0,0.0,0.0,11:05:00,10:55:00,-10.0,0.0,0.0,210.0,203.0,187.0,1199.0,0.0,0,0,2019-12-09 09:35:00,2019-12-09 11:05:00,2019-12-09 09:35:00,ATL,DEN
2,2019,4,12,9,1,2019-12-09,19393,WN,2409,10397,1039707,30397,ATL,"Atlanta, GA",GA,Georgia,11292,1129202,30325,DEN,"Denver, CO",CO,Colorado,13:30:00,13:25:00,-5.0,0.0,0.0,14:55:00,14:50:00,-5.0,0.0,0.0,205.0,205.0,189.0,1199.0,0.0,0,0,2019-12-09 13:30:00,2019-12-09 14:55:00,2019-12-09 13:30:00,ATL,DEN
3,2019,4,12,9,1,2019-12-09,19393,WN,2553,10397,1039707,30397,ATL,"Atlanta, GA",GA,Georgia,11292,1129202,30325,DEN,"Denver, CO",CO,Colorado,06:20:00,06:18:00,-2.0,0.0,0.0,07:45:00,07:43:00,-2.0,0.0,0.0,205.0,205.0,191.0,1199.0,0.0,0,0,2019-12-09 06:20:00,2019-12-09 07:45:00,2019-12-09 06:20:00,ATL,DEN
4,2019,4,12,9,1,2019-12-09,19393,WN,2898,10397,1039707,30397,ATL,"Atlanta, GA",GA,Georgia,11292,1129202,30325,DEN,"Denver, CO",CO,Colorado,17:55:00,17:53:00,-2.0,0.0,0.0,19:15:00,19:17:00,2.0,2.0,0.0,200.0,204.0,184.0,1199.0,2.0,0,0,2019-12-09 17:55:00,2019-12-09 19:15:00,2019-12-09 17:55:00,ATL,DEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380817,2020,1,2,7,5,2020-02-07,19790,DL,1748,11292,1129202,30325,DEN,"Denver, CO",CO,Colorado,13487,1348702,31650,MSP,"Minneapolis, MN",MN,Minnesota,19:55:00,21:21:00,86.0,86.0,1.0,22:52:00,00:31:00,99.0,99.0,1.0,117.0,130.0,92.0,680.0,185.0,2,2,2020-02-07 19:55:00,2020-02-07 22:52:00,2020-02-07 19:55:00,DEN,MSP
2380818,2020,1,2,7,5,2020-02-07,19790,DL,1748,13487,1348702,31650,MSP,"Minneapolis, MN",MN,Minnesota,11292,1129202,30325,DEN,"Denver, CO",CO,Colorado,17:35:00,19:08:00,93.0,93.0,1.0,18:54:00,20:40:00,106.0,106.0,1.0,139.0,152.0,94.0,680.0,199.0,2,2,2020-02-07 17:35:00,2020-02-07 18:54:00,2020-02-07 17:35:00,MSP,DEN
2380819,2020,1,2,7,5,2020-02-07,19790,DL,1750,11433,1143302,31295,DTW,"Detroit, MI",MI,Michigan,14771,1477104,32457,SFO,"San Francisco, CA",CA,California,16:10:00,16:36:00,26.0,26.0,1.0,18:37:00,18:20:00,-17.0,0.0,0.0,327.0,284.0,264.0,2079.0,26.0,1,0,2020-02-07 16:10:00,2020-02-07 18:37:00,2020-02-07 16:10:00,DTW,SFO
2380820,2020,1,2,7,5,2020-02-07,19790,DL,1753,14747,1474703,30559,SEA,"Seattle, WA",WA,Washington,14771,1477104,32457,SFO,"San Francisco, CA",CA,California,13:47:00,17:57:00,250.0,250.0,1.0,16:00:00,20:04:00,244.0,244.0,1.0,133.0,127.0,97.0,679.0,494.0,2,2,2020-02-07 13:47:00,2020-02-07 16:00:00,2020-02-07 13:47:00,SEA,SFO
2380821,2020,1,2,7,5,2020-02-07,19790,DL,1759,12889,1288903,32211,LAS,"Las Vegas, NV",NV,Nevada,10721,1072102,30721,BOS,"Boston, MA",MA,Massachusetts,15:40:00,16:24:00,44.0,44.0,1.0,23:39:00,00:39:00,60.0,60.0,1.0,299.0,315.0,277.0,2381.0,104.0,2,2,2020-02-07 15:40:00,2020-02-07 23:39:00,2020-02-07 15:40:00,LAS,BOS

In [573]:
main_df_preprocess['Origin_date'] = main_df_preprocess['date']
main_df_preprocess['Origin_airport'] = main_df_preprocess['key']

In [574]:
df['Origin_date'] = df['ORIGIN_date']
df['Origin_airport'] = df['ORIGIN']

In [575]:
main_df_preprocess['Origin_date'] = main_df_preprocess['Origin_date'].apply(lambda x : x.replace(tzinfo=None))

In [576]:
merged_df = pd.merge_asof(df.sort_values('Origin_date'), main_df_preprocess.sort_values('Origin_date'),on = "Origin_date", by='Origin_airport', direction="nearest", allow_exact_matches=True)

In [577]:
main_df_preprocess['DEST'] = main_df_preprocess['key']
df['Dest_airport'] = df['DEST']

In [578]:
merged_df_dest = pd.merge_asof(merged_df.sort_values('Origin_date'), main_df_preprocess.sort_values('Origin_date'),on = "Origin_date", by='DEST', direction="nearest", allow_exact_matches=True)

In [579]:
remove_final_cols = ['QUARTER', 'DAY_OF_WEEK', 'FL_DATE', 'OP_CARRIER_AIRLINE_ID', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', \
                     'ORIGIN_CITY_MARKET_ID', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 'DEST_AIRPORT_ID', \
                     'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST_CITY_NAME', 'DEST_STATE_ABR', 'DEST_STATE_NM', \
                     'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15', 'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW',  \
                     'ARR_DEL15', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DELAY_LEVEL', 'ARR_LEVEL', 'ORIGIN_date', 'DESTINATION_date', \
                     'Origin_date', 'Origin_airport_x', 'key_x', 'date_x', 'key_y', 'date_y', 'Origin_airport_y', 'Dest_airport','wx_phrase_y','wx_phrase_x']

In [603]:
final_merged_df = merged_df_dest.drop(columns = remove_final_cols)
final_merged_df

,YEAR,MONTH,DAY_OF_MONTH,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,CRS_ARR_TIME,DISTANCE,Total_Delay,temp_x,pressure_x,wc_x,wspd_x,wx_phrase_x,dewPt_x,vis_x,temp_y,pressure_y,wc_y,wspd_y,wx_phrase_y,dewPt_y,vis_y
0,2019,2,1,F9,2000,LAS,ATL,00:05:00,06:57:00,1747.0,0.0,61,27.65,61,0,Mostly Cloudy,23,10,47,29.2,45.0,5.0,Fair,24,10.0
1,2019,2,1,F9,2000,LAS,ATL,00:05:00,06:57:00,1747.0,0.0,61,27.65,61,0,Mostly Cloudy,23,10,47,29.2,45.0,5.0,Fair,24,10.0
2,2019,2,1,AA,340,LAX,MIA,00:05:00,08:03:00,2342.0,17.0,58,29.79,58,10,Mostly Cloudy,52,10,70,30.17,70,9,Mostly Cloudy,65,10
3,2019,2,1,AA,340,LAX,MIA,00:05:00,08:03:00,2342.0,17.0,58,29.79,58,10,Mostly Cloudy,52,10,70,30.17,70,9,Mostly Cloudy,65,10
4,2019,2,1,AA,2473,SEA,DFW,00:09:00,05:50:00,1660.0,0.0,52.0,29.31,52.0,6.0,Cloudy,37.0,10.0,55.0,29.39,55.0,10.0,Cloudy,47.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380817,2020,12,31,UA,1796,SFO,EWR,23:35:00,07:36:00,2565.0,0.0,57.0,30.14,57.0,13.0,Partly Cloudy,45.0,10.0,40,30.29,33.0,13.0,Mostly Cloudy,26.0,10.0
2380818,2020,12,31,UA,2388,LAS,EWR,23:45:00,07:19:00,2227.0,0.0,49,27.72,45,10,Mostly Cloudy,33,10,40,30.29,33.0,13.0,Mostly Cloudy,26.0,10.0
2380819,2020,12,31,NK,1971,DFW,PHX,23:45:00,01:21:00,868.0,0.0,38.0,28.97,28.0,21.0,Light Rain / Windy,37.0,10.0,58.0,28.66,58.0,0.0,Mostly Cloudy,18.0,10.0
2380820,2020,12,31,AA,1886,SEA,CLT,23:49:00,07:45:00,2279.0,0.0,49,29.64,45,10,Cloudy,44,10,53,29.37,53,3,Light Rain,52,2.0
2380821,2020,12,31,NK,970,DEN,FLL,23:55:00,05:46:00,1703.0,0.0,32,24.51,27,5,Mostly Cloudy,22,10,76.0,30.08,76.0,18.0,Fair,70.0,10.0

In [604]:
final_merged_df['temp_x'] = final_merged_df['temp_x'].astype(float)
final_merged_df['pressure_x'] = final_merged_df['pressure_x'].astype(float)
final_merged_df['wc_x'] = final_merged_df['wc_x'].astype(float)
final_merged_df['wspd_x'] = final_merged_df['wspd_x'].astype(float)
final_merged_df['dewPt_x'] = final_merged_df['dewPt_x'].astype(float)
final_merged_df['vis_x'] = final_merged_df['vis_x'].astype(float)
final_merged_df['temp_y'] = final_merged_df['temp_y'].astype(float)
final_merged_df['pressure_y'] = final_merged_df['pressure_y'].astype(float)
final_merged_df['wc_y'] = final_merged_df['wc_y'].astype(float)
final_merged_df['wspd_y'] = final_merged_df['wspd_y'].astype(float)
final_merged_df['dewPt_y'] = final_merged_df['dewPt_y'].astype(float)
final_merged_df['vis_y'] = final_merged_df['vis_y'].astype(float)

In [605]:
final_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2380822 entries, 0 to 2380821
Data columns (total 25 columns):
 #   Column             Dtype
---  ------             -----
 0   YEAR               int64
 1   MONTH              int64
 2   DAY_OF_MONTH       int64
 3   OP_CARRIER         object
 4   OP_CARRIER_FL_NUM  int64
 5   ORIGIN             object
 6   DEST               object
 7   CRS_DEP_TIME       object
 8   CRS_ARR_TIME       object
 9   DISTANCE           float64
 10  Total_Delay        float64
 11  temp_x             float64
 12  pressure_x         float64
 13  wc_x               float64
 14  wspd_x             float64
 15  wx_phrase_x        object
 16  dewPt_x            float64
 17  vis_x              float64
 18  temp_y             float64
 19  pressure_y         float64
 20  wc_y               float64
 21  wspd_y             float64
 22  wx_phrase_y        object
 23  dewPt_y            float64
 24  vis_y              float64
dtypes: float64(14), int64(4), object(7)
memory usage: 472.3+ MB

In [596]:
final_merged_df

,YEAR,MONTH,DAY_OF_MONTH,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,CRS_ARR_TIME,DISTANCE,Total_Delay,temp_x,pressure_x,wc_x,wspd_x,wx_phrase_x,dewPt_x,vis_x,temp_y,pressure_y,wc_y,wspd_y,wx_phrase_y,dewPt_y,vis_y
0,2019,2,1,F9,2000,LAS,ATL,00:05:00,06:57:00,1747.0,0.0,61.0,27.65,61.0,0.0,Mostly Cloudy,23.0,10.0,47.0,29.20,45.0,5.0,Fair,24.0,10.0
1,2019,2,1,F9,2000,LAS,ATL,00:05:00,06:57:00,1747.0,0.0,61.0,27.65,61.0,0.0,Mostly Cloudy,23.0,10.0,47.0,29.20,45.0,5.0,Fair,24.0,10.0
2,2019,2,1,AA,340,LAX,MIA,00:05:00,08:03:00,2342.0,17.0,58.0,29.79,58.0,10.0,Mostly Cloudy,52.0,10.0,70.0,30.17,70.0,9.0,Mostly Cloudy,65.0,10.0
3,2019,2,1,AA,340,LAX,MIA,00:05:00,08:03:00,2342.0,17.0,58.0,29.79,58.0,10.0,Mostly Cloudy,52.0,10.0,70.0,30.17,70.0,9.0,Mostly Cloudy,65.0,10.0
4,2019,2,1,AA,2473,SEA,DFW,00:09:00,05:50:00,1660.0,0.0,52.0,29.31,52.0,6.0,Cloudy,37.0,10.0,55.0,29.39,55.0,10.0,Cloudy,47.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380817,2020,12,31,UA,1796,SFO,EWR,23:35:00,07:36:00,2565.0,0.0,57.0,30.14,57.0,13.0,Partly Cloudy,45.0,10.0,40.0,30.29,33.0,13.0,Mostly Cloudy,26.0,10.0
2380818,2020,12,31,UA,2388,LAS,EWR,23:45:00,07:19:00,2227.0,0.0,49.0,27.72,45.0,10.0,Mostly Cloudy,33.0,10.0,40.0,30.29,33.0,13.0,Mostly Cloudy,26.0,10.0
2380819,2020,12,31,NK,1971,DFW,PHX,23:45:00,01:21:00,868.0,0.0,38.0,28.97,28.0,21.0,Light Rain / Windy,37.0,10.0,58.0,28.66,58.0,0.0,Mostly Cloudy,18.0,10.0
2380820,2020,12,31,AA,1886,SEA,CLT,23:49:00,07:45:00,2279.0,0.0,49.0,29.64,45.0,10.0,Cloudy,44.0,10.0,53.0,29.37,53.0,3.0,Light Rain,52.0,2.0
2380821,2020,12,31,NK,970,DEN,FLL,23:55:00,05:46:00,1703.0,0.0,32.0,24.51,27.0,5.0,Mostly Cloudy,22.0,10.0,76.0,30.08,76.0,18.0,Fair,70.0,10.0

In [606]:
final_merged_df['crs_dep_hour'] = final_merged_df.apply(lambda x: x['CRS_DEP_TIME'].hour,axis=1)
final_merged_df['crs_dep_minute'] = final_merged_df.apply(lambda x: x['CRS_DEP_TIME'].minute,axis=1)
final_merged_df['crs_dep_second'] = final_merged_df.apply(lambda x: x['CRS_DEP_TIME'].second,axis=1)

In [607]:
final_merged_df['crs_arr_hour'] = final_merged_df.apply(lambda x: x['CRS_ARR_TIME'].hour,axis=1)
final_merged_df['crs_arr_minute'] = final_merged_df.apply(lambda x: x['CRS_ARR_TIME'].minute,axis=1)
final_merged_df['crs_arr_second'] = final_merged_df.apply(lambda x: x['CRS_ARR_TIME'].second,axis=1)

In [610]:
final_merged_df.drop(columns=['CRS_DEP_TIME','CRS_ARR_TIME'], inplace=True)

In [611]:
def column_types(df):
    category_cols = []
    for col in df.columns:
        if df[col].dtype.name == 'object':
            category_cols.append(col)
    return category_cols

In [612]:
category_cols = column_types(final_merged_df)
category_cols

['OP_CARRIER', 'ORIGIN', 'DEST']

In [614]:
le1 = preprocessing.LabelEncoder()
le1.fit(final_merged_df['OP_CARRIER'].astype(str))
final_merged_df['OP_CARRIER'] = le1.transform(final_merged_df['OP_CARRIER'])

le2 = preprocessing.LabelEncoder()
le2.fit(final_merged_df['ORIGIN'].astype(str))
final_merged_df['ORIGIN'] = le2.transform(final_merged_df['ORIGIN'])

le3 = preprocessing.LabelEncoder()
le3.fit(final_merged_df['DEST'].astype(str))
final_merged_df['DEST'] = le3.transform(final_merged_df['DEST'])

In [615]:
final_merged_df

,YEAR,MONTH,DAY_OF_MONTH,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DISTANCE,Total_Delay,temp_x,pressure_x,wc_x,wspd_x,dewPt_x,vis_x,temp_y,pressure_y,wc_y,wspd_y,dewPt_y,vis_y,crs_dep_hour,crs_dep_minute,crs_dep_second,crs_arr_hour,crs_arr_minute,crs_arr_second
0,2019,2,1,6,2000,10,0,1747.0,0.0,61.0,27.65,61.0,0.0,23.0,10.0,47.0,29.20,45.0,5.0,24.0,10.0,0,5,0,6,57,0
1,2019,2,1,6,2000,10,0,1747.0,0.0,61.0,27.65,61.0,0.0,23.0,10.0,47.0,29.20,45.0,5.0,24.0,10.0,0,5,0,6,57,0
2,2019,2,1,1,340,11,13,2342.0,17.0,58.0,29.79,58.0,10.0,52.0,10.0,70.0,30.17,70.0,9.0,65.0,10.0,0,5,0,8,3,0
3,2019,2,1,1,340,11,13,2342.0,17.0,58.0,29.79,58.0,10.0,52.0,10.0,70.0,30.17,70.0,9.0,65.0,10.0,0,5,0,8,3,0
4,2019,2,1,1,2473,18,4,1660.0,0.0,52.0,29.31,52.0,6.0,37.0,10.0,55.0,29.39,55.0,10.0,47.0,10.0,0,9,0,5,50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2380817,2020,12,31,12,1796,19,6,2565.0,0.0,57.0,30.14,57.0,13.0,45.0,10.0,40.0,30.29,33.0,13.0,26.0,10.0,23,35,0,7,36,0
2380818,2020,12,31,12,2388,10,6,2227.0,0.0,49.0,27.72,45.0,10.0,33.0,10.0,40.0,30.29,33.0,13.0,26.0,10.0,23,45,0,7,19,0
2380819,2020,12,31,9,1971,4,17,868.0,0.0,38.0,28.97,28.0,21.0,37.0,10.0,58.0,28.66,58.0,0.0,18.0,10.0,23,45,0,1,21,0
2380820,2020,12,31,1,1886,18,2,2279.0,0.0,49.0,29.64,45.0,10.0,44.0,10.0,53.0,29.37,53.0,3.0,52.0,2.0,23,49,0,7,45,0
2380821,2020,12,31,9,970,3,7,1703.0,0.0,32.0,24.51,27.0,5.0,22.0,10.0,76.0,30.08,76.0,18.0,70.0,10.0,23,55,0,5,46,0

In [616]:
train, test = model_selection.train_test_split(final_merged_df, test_size=0.2, random_state = 42)

In [620]:
train_x = np.array(train.drop(['Total_Delay'], axis=1))
x_label = np.array(train['Total_Delay'])
test_y = np.array(test.drop(['Total_Delay'], axis = 1))
y_label = np.array(test['Total_Delay'])

In [621]:
print(train_x.shape, x_label.shape)

(1904657, 26) (1904657,)

In [622]:
lr = linear_model.LinearRegression()
model = lr.fit(train_x, x_label)

In [623]:
y_pred = model.predict(test_y)

In [624]:
y_pred

array([ 8.07812002, 14.22256611, 16.00740282, ..., 24.18892353,
       10.56142834, 30.88469939])

In [629]:
rmse_1 = metrics.mean_absolute_error(y_label, y_pred)
rmse_1

36.38681582174185

In [ ]:
# AR example
from statsmodels.tsa.ar_model import AutoReg
from random import random
# contrived dataset
data = [x + random() for x in range(1, 100)]
# fit model
model = AutoReg(data, lags=1)
model_fit = model.fit()
# make prediction
yhat = model_fit.predict(len(data), len(data))
print(yhat)