In [516]:
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

#Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk
import seaborn as sns
import datetime

#Settings
pd.set_option("display.max_columns", None)

In [ ]:
airlines_names = pd.read_csv('Yearly_Data/airlines.csv')
abbr_companies = airlines_names.set_index('IATA_CODE')['AIRLINE'].to_dict()

In [517]:
abbr_companies

{'WN': 'Southwest Airlines Co.',
 'YV': 'Mesa Airlines',
 'YX': 'Republic Airlines',
 'EV': 'ExpressJet Airlines ',
 'AS': 'Alaska Airlines Inc.',
 'OH': 'PSA Airlines',
 'UA': 'United Air Lines Inc.',
 'MQ': 'American Eagle Airlines Inc.',
 'DL': 'Delta Air Lines Inc.',
 'AA': 'American Airlines Inc.',
 'OO': 'Skywest Airlines Inc.',
 '9E': 'Endeavor Air',
 'B6': 'JetBlue Airways',
 'F9': 'Frontier Airlines Inc.',
 'NK': 'Spirit Air Lines',
 'G4': 'Allegiant Air'}

In [ ]:
#Read train and store csv, join them into single dataframe and print head
df_2015_1 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING.csv', low_memory=False)
df_2015_2 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 2.csv', low_memory=False)
df_2015_3 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 3.csv', low_memory=False)
df_2015_4 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 4.csv',  low_memory=False)
df_2015_5 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 5.csv',  low_memory=False)
df_2015_6 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 6.csv', low_memory=False)
df_2015_7 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 7.csv', low_memory=False)
df_2015_8 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 8.csv', low_memory=False)
df_2015_9 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 9.csv',  low_memory=False)
df_2015_10 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 10.csv', low_memory=False)
df_2015_11 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 11.csv',  low_memory=False)
df_2015_12 = pd.read_csv('Yearly_Data/2015/440927628_T_ONTIME_REPORTING 12.csv', low_memory=False)
result_2015 = pd.concat([df_2015_1,df_2015_2,df_2015_3,df_2015_4,df_2015_5,df_2015_6,df_2015_7,df_2015_8,df_2015_9,df_2015_10,df_2015_11,df_2015_12])

In [ ]:
#Read train and store csv, join them into single dataframe and print head
df_2016_1 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING.csv', low_memory=False)
df_2016_2 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 2.csv', low_memory=False)
df_2016_3 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 3.csv', low_memory=False)
df_2016_4 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 4.csv',  low_memory=False)
df_2016_5 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 5.csv',  low_memory=False)
df_2016_6 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 6.csv', low_memory=False)
df_2016_7 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 7.csv', low_memory=False)
df_2016_8 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 8.csv', low_memory=False)
df_2016_9 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 9.csv',  low_memory=False)
df_2016_10 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 10.csv', low_memory=False)
df_2016_11 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 11.csv',  low_memory=False)
df_2016_12 = pd.read_csv('Yearly_Data/2016/440927628_T_ONTIME_REPORTING 12.csv', low_memory=False)
result_2016 = pd.concat([df_2016_1,df_2016_2,df_2016_3,df_2016_4,df_2016_5,df_2016_6,df_2016_7,df_2016_8,df_2016_9,df_2016_10,df_2016_11,df_2016_12])

In [ ]:
#Read train and store csv, join them into single dataframe and print head
df_2017_1 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING.csv', low_memory=False)
df_2017_2 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 2.csv', low_memory=False)
df_2017_3 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 3.csv', low_memory=False)
df_2017_4 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 4.csv',  low_memory=False)
df_2017_5 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 5.csv',  low_memory=False)
df_2017_6 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 6.csv', low_memory=False)
df_2017_7 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 7.csv', low_memory=False)
df_2017_8 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 8.csv', low_memory=False)
df_2017_9 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 9.csv',  low_memory=False)
df_2017_10 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 10.csv', low_memory=False)
df_2017_11 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 11.csv',  low_memory=False)
df_2017_12 = pd.read_csv('Yearly_Data/2017/440927628_T_ONTIME_REPORTING 12.csv', low_memory=False)
result_2017 = pd.concat([df_2017_1,df_2017_2,df_2017_3,df_2017_4,df_2017_5,df_2017_6,df_2017_7,df_2017_8,df_2017_9,df_2017_10,df_2017_11,df_2017_12])

In [ ]:
#Read train and store csv, join them into single dataframe and print head
df_2018_1 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING.csv', low_memory=False)
df_2018_2 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 2.csv', low_memory=False)
df_2018_3 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 3.csv', low_memory=False)
df_2018_4 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 4.csv',  low_memory=False)
df_2018_5 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 5.csv',  low_memory=False)
df_2018_6 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 6.csv', low_memory=False)
df_2018_7 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 7.csv', low_memory=False)
df_2018_8 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 8.csv', low_memory=False)
df_2018_9 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 9.csv',  low_memory=False)
df_2018_10 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 10.csv', low_memory=False)
df_2018_11 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 11.csv',  low_memory=False)
df_2018_12 = pd.read_csv('Yearly_Data/2018/440927628_T_ONTIME_REPORTING 12.csv', low_memory=False)
result_2018 = pd.concat([df_2018_1,df_2018_2,df_2018_3,df_2018_4,df_2018_5,df_2018_6,df_2018_7,df_2018_8,df_2018_9,df_2018_10,df_2018_11,df_2018_12])

In [ ]:
#Read train and store csv, join them into single dataframe and print head
df_2019_1 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING.csv', low_memory=False)
df_2019_2 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 2.csv', low_memory=False)
df_2019_3 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 3.csv', low_memory=False)
df_2019_4 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 4.csv',  low_memory=False)
df_2019_5 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 5.csv',  low_memory=False)
df_2019_6 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 6.csv', low_memory=False)
df_2019_7 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 7.csv', low_memory=False)
df_2019_8 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 8.csv', low_memory=False)
df_2019_9 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 9.csv',  low_memory=False)
df_2019_10 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 10.csv', low_memory=False)
df_2019_11 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 11.csv',  low_memory=False)
df_2019_12 = pd.read_csv('Yearly_Data/2019/440927628_T_ONTIME_REPORTING 12.csv', low_memory=False)
result_2019 = pd.concat([df_2019_1,df_2019_2,df_2019_3,df_2019_4,df_2019_5,df_2019_6,df_2019_7,df_2019_8,df_2019_9,df_2019_10,df_2019_11,df_2019_12])

In [ ]:
#Read train and store csv, join them into single dataframe and print head
df_2020_1 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING.csv', low_memory=False)
df_2020_2 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 2.csv', low_memory=False)
df_2020_3 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 3.csv', low_memory=False)
df_2020_4 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 4.csv',  low_memory=False)
df_2020_5 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 5.csv',  low_memory=False)
df_2020_6 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 6.csv', low_memory=False)
df_2020_7 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 7.csv', low_memory=False)
df_2020_8 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 8.csv', low_memory=False)
df_2020_9 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 9.csv',  low_memory=False)
df_2020_10 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 10.csv', low_memory=False)
df_2020_11 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 11.csv',  low_memory=False)
df_2020_12 = pd.read_csv('Yearly_Data/2020/440925271_T_ONTIME_REPORTING 12.csv', low_memory=False)
result_2020 = pd.concat([df_2020_1,df_2020_2,df_2020_3,df_2020_4,df_2020_5,df_2020_6,df_2020_7,df_2020_8,df_2020_9,df_2020_10,df_2020_11,df_2020_12])

In [ ]:
df = pd.concat([result_2019,result_2020])

In [ ]:
safe_copy = df.copy()

In [ ]:
#Top 20 businest airports
busiest_airports_iata = ["ATL", "DFW", "DEN", "ORD", "LAX", "CLT", "LAS", "PHX", "MCO", "SEA", "MIA", "IAH", "JFK", "FLL", "SFO", "EWR", "MSP", "DTW", "BOS", "PHL"]
df = df[df.DEST.isin(busiest_airports_iata) & (df.ORIGIN.isin(busiest_airports_iata))]

In [ ]:
#result_2015_to_2020 = pd.read_csv('result_2015_to_2020.csv', low_memory=False)

In [ ]:
df

Feature cleaning

In [ ]:
#Removing rows where arr delay is NAN
#result_2015_to_2020.dropna('ARR_DELAY')
df = df[df['ARR_DELAY'].notna()]
#We don't need cancelled flights in our dataset
df = df[df.CANCELLED !=1]
#to date time
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'])

In [ ]:
variables_to_remove = ['OP_UNIQUE_CARRIER','CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'Unnamed: 46','CANCELLED','DIVERTED','FLIGHTS']
df = df.drop(columns=variables_to_remove)

In [ ]:
def format_heure(chaine):
    if pd.isnull(chaine):
        return np.nan
    else:
        if chaine == 2400: chaine = 0
        chaine = "{0:04d}".format(int(chaine))
        heure = datetime.time(int(chaine[0:2]), int(chaine[2:4]))
        return heure
#_____________________________________________________________________
# Function that combines a date and time to produce a datetime.datetime
'''def combine_date_heure(x):
    if pd.isnull(x[0]) or pd.isnull(x[1]):
        return np.nan
    else:
        return datetime.datetime.combine(x[0],x[1])
#_______________________________________________________________________________
# Function that combine two columns of the dataframe to create a datetime format
def create_flight_time(df, col):    
    liste = []
    for index, cols in df[['DATE', col]].iterrows():    
        if pd.isnull(cols[1]):
            liste.append(np.nan)
        elif float(cols[1]) == 2400:
            cols[0] += datetime.timedelta(days=1)
            cols[1] = datetime.time(0,0)
            liste.append(combine_date_heure(cols))
        else:
            cols[1] = format_heure(cols[1])
            liste.append(combine_date_heure(cols))
    return pd.Series(liste)
'''

In [ ]:
#df['SCHEDULED_DEPARTURE'] = create_flight_time(result_2015_to_2020, 'SCHEDULED_DEPARTURE')
df['CRS_ARR_TIME'] = df['CRS_ARR_TIME'].apply(format_heure)
df['ARR_TIME'] = df['ARR_TIME'].apply(format_heure)
df['CRS_DEP_TIME'] = df['CRS_DEP_TIME'].apply(format_heure)
df['DEP_TIME'] = df['DEP_TIME'].apply(format_heure)

In [ ]:
'''
result_2015_to_2020['DEP_TIME'] = result_2015_to_2020['DEP_TIME'].astype(int)
result_2015_to_2020['ARR_TIME'] = result_2015_to_2020['ARR_TIME'].astype(int)
'''

In [ ]:
tab_info=pd.DataFrame(df.dtypes).T.rename(index={0:'column type'})
tab_info=tab_info.append(pd.DataFrame(df.isnull().sum()).T.rename(index={0:'null values (nb)'}))
tab_info

In [ ]:
df['Total_Delay'] = df.DEP_DELAY_NEW+df.ARR_DELAY_NEW

In [ ]:
df.Total_Delay.unique()

In [ ]:
#_____________________________________________
# Function that define how delays are grouped
delay_type = lambda x:((0,1)[x > 5],2)[x > 45]
df['DELAY_LEVEL'] = df['Total_Delay'].apply(delay_type)
#____________________________________________________
fig = plt.figure(1, figsize=(10,7))
ax = sns.countplot(y="OP_CARRIER", hue='DELAY_LEVEL', data=df)
#____________________________________________________________________________________
# We replace the abbreviations by the full names of the companies and set the labels
labels = [abbr_companies[item.get_text()] for item in ax.get_yticklabels()]
ax.set_yticklabels(labels)
plt.setp(ax.get_xticklabels(), fontsize=12, weight = 'normal', rotation = 0);
plt.setp(ax.get_yticklabels(), fontsize=12, weight = 'bold', rotation = 0);
ax.yaxis.label.set_visible(False)
plt.xlabel('Flight count', fontsize=16, weight = 'bold', labelpad=10)
#________________
# Set the legend
L = plt.legend()
L.get_texts()[0].set_text('on time (t < 5 min)')
L.get_texts()[1].set_text('small delay (5 < t < 45 min)')
L.get_texts()[2].set_text('large delay (t > 45 min)')
plt.show()

In [ ]:
#_____________________________________________
# Function that define how delays are grouped
delay_type = lambda x:((0,1)[x > 5],2)[x > 45]
df['ARR_LEVEL'] = df['ARR_DELAY'].apply(delay_type)
#____________________________________________________
fig = plt.figure(1, figsize=(10,7))
ax = sns.countplot(y="OP_CARRIER", hue='ARR_LEVEL', data=df)
#____________________________________________________________________________________
# We replace the abbreviations by the full names of the companies and set the labels
labels = [abbr_companies[item.get_text()] for item in ax.get_yticklabels()]
ax.set_yticklabels(labels)
plt.setp(ax.get_xticklabels(), fontsize=12, weight = 'normal', rotation = 0);
plt.setp(ax.get_yticklabels(), fontsize=12, weight = 'bold', rotation = 0);
ax.yaxis.label.set_visible(False)
plt.xlabel('Flight count', fontsize=16, weight = 'bold', labelpad=10)
#________________
# Set the legend
L = plt.legend()
L.get_texts()[0].set_text('on time (t < 5 min)')
L.get_texts()[1].set_text('small delay (5 < t < 45 min)')
L.get_texts()[2].set_text('large delay (t > 45 min)')
plt.show()

In [ ]:
sns.set(rc={'figure.figsize':(13,9)})
sns.heatmap(df.corr(), vmin=-1, vmax=1, cmap='seismic');

In [ ]:
df

In [ ]:
df.OP_CARRIER.unique()

In [ ]:
busiest_airports_iata = ["ATL", "DFW", "DEN", "ORD", "LAX", "CLT", "LAS", "PHX", "MCO", "SEA", "MIA", "IAH", "JFK", "FLL", "SFO", "EWR", "MSP", "DTW", "BOS", "PHL"]

In [ ]:
columns = ["key", "date", "class", "expire_time_gmt", "obs_id", "obs_name", "valid_time_gmt", "day_ind", "temp", "wx_icon", "icon_extd", "wx_phrase", "pressure_tend", "pressure_desc", "dewPt", "heat_index", "rh", "pressure", "vis", "wc", "wdir", "wdir_cardinal", "gust", "wspd", "max_temp", "min_temp", "precip_total", "precip_hrly", "snow_hrly", "uv_desc", "feels_like", "uv_index", "qualifier", "qualifier_svrty", "blunt_phrase", "terse_phrase", "clds", "water_temp", "primary_wave_period", "primary_wave_height", "primary_swell_period", "primary_swell_height", "primary_swell_direction", "secondary_swell_period", "secondary_swell_height", "secondary_swell_direction",]

In [ ]:
path = "Weather_Data/"  # use your path
lst = []
df_1 = pd.read_csv(path + "ATL.csv", low_memory=False)
df_2 = pd.read_csv(path + "DFW.csv", low_memory=False)
#main_list = pd.read_csv(path+"ATL.csv")

for airport in busiest_airports_iata:
    lst.append(pd.read_csv(path + airport + ".csv", low_memory=False,names = columns))
    #print(df[:, 0:2].head())
    #print('---------------------')
main_df = pd.concat(lst)

In [ ]:
main_df = main_df[main_df['key'] != 'key']

In [ ]:
main_df

In [ ]:
req_cols=['key','date','temp','pressure','wc','wspd', 'wx_phrase','dewPt','vis']

In [ ]:
main_df = main_df[req_cols]

In [ ]:
main_df = main_df.dropna()

In [ ]:
main_df['key'] = main_df['key'].str.slice(start=1)

In [ ]:
main_df.reset_index(inplace=True)
main_df=main_df.drop(columns=["index"])

In [ ]:
main_df

In [ ]:
main_df_preprocess = main_df.copy()

In [ ]:
main_df_preprocess

In [ ]:
df.head()

In [ ]:
main_df.key.unique()

In [ ]:
dic = {'ATL': 'America/New_York', 'DFW': 'America/Chicago', 'DEN': 'America/Denver', 'ORD': 'America/Chicago', 'LAX': 'America/Los_Angeles', 'CLT': 'America/New_York', 'LAS': 'America/Los_Angeles', 'PHX': 'America/Phoenix', 'MCO': 'America/New_York',
       'SEA': 'America/Los_Angeles', 'MIA' : 'America/New_York', 'IAH': 'America/Chicago', 'JFK': 'America/New_York', 'FLL': 'America/New_York', 'SFO': 'America/Los_Angeles', 'EWR': 'America/New_York', 'MSP': 'America/Chicago', 'DTW': 'America/Detroit',
       'BOS': 'America/New_York', 'PHL': 'America/New_York'}

In [ ]:
#main_df_preprocess.reset_index(inplace = True)
main_df_preprocess[main_df_preprocess['key']=="ATL"]

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
type(df.DEP_TIME)

In [ ]:
df['DEP_TIME']

In [ ]:
# now.strftime("%H:%M:%S")
# .dt.strftime('%Y-%m-%d')
print(type(df['FL_DATE']))
print(type(df['CRS_DEP_TIME']))
df['final_origin_date'] = pd.to_datetime(pd.to_datetime(df['FL_DATE']).dt.strftime('%Y-%m-%d') + ' ' + pd.to_datetime(df['CRS_DEP_TIME']).dt.strftime('%H:%M:%S'))
df['final_origin_date']

In [ ]:
main_df_preprocess['date'][0]

In [ ]:
import datetime
import pytz

main_df_preprocess['date'] =  pd.to_datetime(main_df_preprocess['date'])

In [ ]:
main_df_preprocess['date'] = main_df_preprocess.apply(lambda x: pytz.timezone(dic[x['key']]).localize(x['date']).astimezone(dic[x['key']]),axis=1)

In [ ]:
main_df_preprocess['date'][1] - '2019-01-01 05:36:00-05:00'

In [ ]:
print(type(main_df_preprocess['date'][1]))

In [ ]:
print(main_df_preprocess['date'][1])
print(main_df_preprocess['date'][360948])

In [ ]:
df1 = pd.merge(df,main_df_preprocess,left_on=['orig_airport','flight_date'],
              right_on=['airport_code','date'])

In [ ]:
# print(df.columns)
# print(df['FL_DATE'])
df['ORIGIN_date'] = df.apply(lambda x: pd.Timestamp(x.FL_DATE).replace(hour=x['CRS_DEP_TIME'].hour, 
                                        minute=x['CRS_DEP_TIME'].minute, second=x['CRS_DEP_TIME'].second), axis=1)

In [ ]:
df.drop('temp', inplace = True, axis = 1)

In [ ]:
df

In [ ]:
# print(df.columns)
# print(df['FL_DATE'])
df['DESTINATION_date'] = df.apply(lambda x: pd.Timestamp(x.FL_DATE).replace(hour=x['CRS_ARR_TIME'].hour, 
                                        minute=x['CRS_ARR_TIME'].minute, second=x['CRS_ARR_TIME'].second), axis=1)

In [ ]:
df.reset_index(inplace = True)

In [ ]:
df.drop(['index', 'level_0'], axis = 1, inplace = True)

In [ ]:
from sklearn.neighbors import NearestNeighbors

def find_nearest(group, match, groupname):
    match = match[match[groupname] == group.name]
    nbrs = NearestNeighbors(1).fit(match['Date'].values[:, None])
    dist, ind = nbrs.kneighbors(group['Date'].values[:, None])

    group['Date1'] = group['Date']
    group['Date'] = match['Date'].values[ind.ravel()]
    return group


merged_df = df1.groupby('Code').apply(find_nearest, df2, 'Code')

In [ ]:
main_df_preprocess['Origin_date'] = main_df_preprocess['date']
main_df_preprocess['Origin_airport'] = main_df_preprocess['key']

In [ ]:
df['Origin_date'] = df['ORIGIN_date']
df['Origin_airport'] = df['ORIGIN']

In [ ]:
df.head()

In [ ]:
# tol = pd.Timedelta(value=15, unit= 'minutes')
# print(type(main_df_preprocess['date'][1]))
# print(type(df['ORIGIN_date'][1]))
main_df_preprocess['Origin_date'] = main_df_preprocess['Origin_date'].apply(lambda x : x.replace(tzinfo=None))

In [ ]:
merged_df = pd.merge_asof(df.sort_values('Origin_date'), main_df_preprocess.sort_values('Origin_date'),on = "Origin_date", by='Origin_airport', direction="nearest", allow_exact_matches=True)

In [ ]:
df['ORIGIN_date'][1])

In [ ]:
main_df_preprocess['date']

In [ ]:
merged_df.shape

In [ ]:
merged_df.isna().sum()

In [ ]:
main_df_preprocess['DEST'] = main_df_preprocess['key']
df['Dest_airport'] = df['DEST']

In [ ]:
merged_df_dest = pd.merge_asof(merged_df.sort_values('Origin_date'), main_df_preprocess.sort_values('Origin_date'),on = "Origin_date", by='DEST', direction="nearest", allow_exact_matches=True)

In [ ]:
merged_df_dest.head()

In [ ]:
merged_df_dest.dewPt_x.nunique()

In [ ]:
remove_final_cols = ['QUARTER', 'DAY_OF_WEEK', 'FL_DATE', 'OP_CARRIER_AIRLINE_ID', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', \
                     'ORIGIN_CITY_MARKET_ID', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM', 'DEST_AIRPORT_ID', \
                     'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST_CITY_NAME', 'DEST_STATE_ABR', 'DEST_STATE_NM', \
                     'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15', 'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW',  \
                     'ARR_DEL15', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DELAY_LEVEL', 'ARR_LEVEL', 'ORIGIN_date', 'DESTINATION_date', \
                     'Origin_date', 'Origin_airport_x', 'key_x', 'date_x', 'key_y', 'date_y', 'Origin_airport_y', 'Dest_airport']

In [ ]:
final_merged_df = merged_df_dest.drop(columns = remove_final_cols)
final_merged_df

In [518]:
final_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2380822 entries, 0 to 2380821
Data columns (total 25 columns):
 #   Column             Dtype
---  ------             -----
 0   YEAR               int64
 1   MONTH              int64
 2   DAY_OF_MONTH       int64
 3   OP_CARRIER         object
 4   OP_CARRIER_FL_NUM  int64
 5   ORIGIN             object
 6   DEST               object
 7   CRS_DEP_TIME       object
 8   CRS_ARR_TIME       object
 9   DISTANCE           float64
 10  Total_Delay        float64
 11  temp_x             float64
 12  pressure_x         float64
 13  wc_x               float64
 14  wspd_x             float64
 15  wx_phrase_x        object
 16  dewPt_x            float64
 17  vis_x              float64
 18  temp_y             float64
 19  pressure_y         float64
 20  wc_y               float64
 21  wspd_y             float64
 22  wx_phrase_y        object
 23  dewPt_y            float64
 24  vis_y              float64
dtypes: float64(14), int64(4), object(7)
memory usage: 472.3+ MB

In [ ]:
final_merged_df['CRS_DEP_TIME'] = pd.to(final_merged_df['CRS_DEP_TIME'],format='%H:%M:%S').dt.time

In [525]:
final_merged_df['Hour'] = final_merged_df['CRS_DEP_TIME'][0]

0

In [ ]:
final_merged_df.to_csv('final.csv')

In [530]:
final_merged_df['CRS_DEP_TIME'] = str(final_merged_df['CRS_DEP_TIME'])
final_merged_df['CRS_ARR_TIME'] = str(final_merged_df['CRS_ARR_TIME'])

In [541]:
hour, mini, sec = final_merged_df.CRS_DEP_TIME.str.split(':')

#final_merged_df[['hours', 'minutes', 'seconds']] = (
   #   pd.to_timedelta(v.str[-1]).dt.components.iloc[:, 0:3])

ValueError: too many values to unpack (expected 3)

In [547]:
type(v[0][0])

str

In [544]:
v[1]

['0          00',
 '05',
 '00\n1          00',
 '05',
 '00\n2          00',
 '05',
 '00\n3          00',
 '05',
 '00\n4          00',
 '09',
 '00\n             ...   \n2380817    23',
 '35',
 '00\n2380818    23',
 '45',
 '00\n2380819    23',
 '45',
 '00\n2380820    23',
 '49',
 '00\n2380821    23',
 '55',
 '00\nName',
 ' CRS_DEP_TIME, Length',
 ' 2380822, dtype',
 ' object']

In [ ]:
final_merged_df['Hour'] = hour
final_merged_df['Min'] = mini
final_merged_df['Sec'] = sec

In [549]:
# check_in_time = final_merged_df.apply(lambda x :  )

check_in_time = datetime.datetime.strptime(final_merged_df['CRS_DEP_TIME'], '%H:%M:%S').time()
'''>>> check_in_time.hour
9
>>> check_in_time.minute
50
>>> check_in_time.second
35'''
print(check_in_time)

TypeError: strptime() argument 1 must be str, not Series

In [550]:
final_merged_df['CRS_ARR_TIME'] = pd.to_datetime(final_merged_df['CRS_ARR_TIME'],format='%H:%M:%S').dt.time

ValueError: time data '0          06:57:00
1          06:57:00
2          08:03:00
3          08:03:00
4          05:50:00
             ...
2380817    07:36:00
2380818    07:19:00
2380819    01:21:00
2380820    07:45:00
2380821    05:46:00
Name: CRS_ARR_TIME, Length: 2380822, dtype: object' does not match format '%H:%M:%S' (match)

In [ ]:
final_merged_df['temp_x'] = final_merged_df['temp_x'].astype(float)
final_merged_df['pressure_x'] = final_merged_df['pressure_x'].astype(float)
final_merged_df['wc_x'] = final_merged_df['wc_x'].astype(float)
final_merged_df['wspd_x'] = final_merged_df['wspd_x'].astype(float)
final_merged_df['dewPt_x'] = final_merged_df['dewPt_x'].astype(float)
final_merged_df['vis_x'] = final_merged_df['vis_x'].astype(float)
final_merged_df['temp_y'] = final_merged_df['temp_y'].astype(float)
final_merged_df['pressure_y'] = final_merged_df['pressure_y'].astype(float)
final_merged_df['wc_y'] = final_merged_df['wc_y'].astype(float)
final_merged_df['wspd_y'] = final_merged_df['wspd_y'].astype(float)
final_merged_df['dewPt_y'] = final_merged_df['dewPt_y'].astype(float)
final_merged_df['vis_y'] = final_merged_df['vis_y'].astype(float)

In [ ]:
def column_types(df):
    category_cols = []
    for col in df.columns:
        if df[col].dtype.name == 'object':
            category_cols.append(col)
    return category_cols

In [ ]:
category_cols = column_types(final_merged_df)
category_cols

In [531]:
final_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2380822 entries, 0 to 2380821
Data columns (total 25 columns):
 #   Column             Dtype
---  ------             -----
 0   YEAR               int64
 1   MONTH              int64
 2   DAY_OF_MONTH       int64
 3   OP_CARRIER         object
 4   OP_CARRIER_FL_NUM  int64
 5   ORIGIN             object
 6   DEST               object
 7   CRS_DEP_TIME       object
 8   CRS_ARR_TIME       object
 9   DISTANCE           float64
 10  Total_Delay        float64
 11  temp_x             float64
 12  pressure_x         float64
 13  wc_x               float64
 14  wspd_x             float64
 15  wx_phrase_x        object
 16  dewPt_x            float64
 17  vis_x              float64
 18  temp_y             float64
 19  pressure_y         float64
 20  wc_y               float64
 21  wspd_y             float64
 22  wx_phrase_y        object
 23  dewPt_y            float64
 24  vis_y              float64
dtypes: float64(14), int64(4), object(7)
memory usage: 472.3+ MB